:root {
    --black-color: #000000;
    --darkred-color: #610D0F;
    --normalred-color: #AD171C;
    --logored-color: #E01D24;
    --darkgrey-color: #403E3E;
    --normalgrey-color: #D9D9D9;
    --lightgrey-color: #E7E5E6;
    --white-color: #ffffff;
}