/* Hier kann man kommentieren, Quellenangaben
CSS Selector:
Wenn nix davor, dann HTML-Element
Wenn Punkt davor, dann Class
Wenn # davor, dann ID
Schachtelung möglich (siehe nav button)
----------------------------*/

/* Typo */
body {
    font-family: "Roboto", sans-serif;
}
h1 {
    font-weight: bold;
    font-size: 28px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h2 {
    font-weight: bold;
    font-size: 20px;
}
h3 {
    font-weight: bold;
    font-size: 16px;
}
/* h4 speziell für Startseite */
h4 {
    font-weight: bold;
    font-size: 28px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--normalred-color);
    text-align: center;
}

/* p ist der normale Text */
p {
    font-weight: normal;
    font-size: 16px;
}


/* Spezielles für Navigation Buttons */
nav {
    font-weight: bold;
    font-size: 24px;
}

nav button {
    color: var(--white-color);
    background-color: var(--darkgrey-color);
    width: 100%;

}
nav button:hover {
    color: var(--white-color);
    background-color: var(--normalred-color);
}

.subitems{
    display: none;
    z-index: 50;
    position: absolute;
    background-color: var(--lightgrey-color);
}

.subitems button:hover{
    color: var(--white-color);
}
/* Links */
a {
    color: var(--normalred-color);
}

a:hover {
    color: var(--normalred-color);
}

/* Spezielles für den Footer */
footer {
    background-color: var(--normalgrey-color);
}

footer a {
    color: var(--black-color);
    text-decoration: none;
}

#imprint a:hover {
    color: var(--normalred-color);
}

/* Informationsseiten */

.bigimage-responsive {
    width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.smallimage-responsive {
    width: 100%
}

/* Speziell Startseite */
.grauerhintergrund {
    background-color: var(--normalgrey-color);
}

.hellgrauerhintergrund {
    background-color: var(--lightgrey-color);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}